#about-container {
    height: 80vh;
    border: 1px purple solid;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
}